@model MooSharp.Models.ViewModels.AssignmentViewModel
@{
    ViewBag.Title = "AssignmentDetails";
}

<h1> @Model.Title</h1>
<hr />

<h4>Course ID: @Model.CourseID</h4>
<h4>Assignment Description</h4>
<p>@Model.Description</p>
@Html.ActionLink("Create Milestone", "CreateMilestone", new { assignmentID = Model.ID })
<table class="table table-striped">
    <thead>
        <tr>
            <th>Milestone Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>


    </tbody>
</table>


