
@{
    ViewBag.Title = "Teachers home page";
}

@section SideBar {
    <h4>@Html.ActionLink("Home", "Index", "Home")</h4>
    <hr />
    @for (var i = 0; i < 5; i++) {
        <li> @Html.ActionLink("link " + @i, "Index", "Teachers") </li>
    }
    <hr />
}

<h2>Index</h2>

@Html.ActionLink("Create Course", "CreateAssignment", "Teachers");
