@model MooSharp.Models.ViewModels.Students.StudentIndexViewModel
@using MooSharp.Models.ViewModels

<h3>@Html.ActionLink("Home", "Index", "Home")</h3>
<hr />
<h4>My Courses</h4>
    @foreach (CourseViewModel course in Model.MyCourses) {
        <li class="list-group">@Html.ActionLink(course.Title, "CourseDetails", "Students")</li>
    }
<hr />
<li>@Html.ActionLink("My History", "DisplayHistory", "Submissions")</li>
<hr />

