<li>@Html.ActionLink("Home", "Index", "Home")</li>
<hr />
<li>@Html.ActionLink("My Courses", "DisplayCourses", "Courses")</li>
<li>TODO: Add list of courses here</li>
<li>@Html.ActionLink("My History", "DisplayHistory", "Submissions")</li>
<hr />
