@model MooSharp.Models.ViewModels.Students.StudentIndexViewModel
@using MooSharp.Models.ViewModels

<li>@Html.ActionLink("Home", "Index", "Home")</li>
<hr />
<h4>My Courses</h4>
    @foreach (CourseViewModel course in Model.MyCourses) {
        <li class="list-group">@course.Title</li>
    }

<li>@Html.ActionLink("My History", "DisplayHistory", "Submissions")</li>
<hr />

