@model MooSharp.Models.ViewModels.Students.StudentIndexViewModel
@using MooSharp.Models.ViewModels
@using Microsoft.AspNet.Identity;

<h3>@Html.ActionLink("Home", "Index", "Home")</h3>
<hr />
<h4>My Courses</h4>
    @foreach (CourseViewModel course in Model.MyCourses) {
        <li class="list-group"><a href="@Url.Action("CourseDetails", "Students", new { id = course.ID })">@course.Title</a></li>
    }
<hr />
<li><a href="@Url.Action("DisplayHistory", "Submissions", new { userID = User.Identity.GetUserId() })">My history</a></li>
<hr />

