@model MooSharp.Models.ViewModels.Teachers.TeacherIndexViewModel
@using MooSharp.Models.ViewModels

<h3>@Html.ActionLink("Home", "Index", "Home")</h3>
<hr />
<h4>My Courses</h4>
@foreach (CourseViewModel course in Model.MyCourses) {
    <li class="list-group"><a href="@Url.Action("CourseDetails", "Teachers", new { id = course.ID })">@course.Title</a></li>
}
<hr />
