<h4>@Html.ActionLink("Home", "Index", "Home")</h4>
<hr />
<li>@Html.ActionLink("Create Course", "CreateCourse", "Admins")</li>
<li>@Html.ActionLink("Create User", "CreateUser", "Admins")</li>
<li>@Html.ActionLink("Connect Users to Courses", "ConnectUserToCourse", "Admins")</li>
<hr />